.interna_sobre {
    width: 100%;
    height: 160px;
    background: url("../img/bg-sobre.jpg") no-repeat center;
    background-size: cover;
}

.missao_sobre h2 {
    padding: 20px 0;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}

.missao_sobre h2:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #000;
    margin-top: 5px;
}

.missao_sobre p {
    font-family: monospace;
    font-size: 14px;
    max-width: 500px;
    margin-bottom: 15px;
}

.missao_sobre ul li {
    padding-bottom: 10px;
    /* font-family: monospace; */
    font-size: 14px;
    line-height: 1.3em;
    max-width: 500px;    
}

.foto-oficina {
    text-align: center;
    padding-top: 30px;
}